.login__logo > img {
    width: 100px;
    margin-bottom: 50px;
}

.login__logo {
    display: flex;
    flex-direction: column;

}

.login {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
